

<div class="jumbotron">
<form (ngSubmit)="createWallet()" #heroForm="ngForm">
  <div class="form-group">
    <label>Password</label><br>*Type password to get wallet details
    <input type="password" class="form-control" [(ngModel)]="keyPassword" name="keyPassword">
  </div>
  <input type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" value="Generate Keys">
</form>
</div>
<br>
<div class="jumbotron">
<div *ngFor="let walletInfo of walletInfo" >
    <ul class="list-group">
      <li class="list-group-item"><B>Your Wallet Secret Seed : </B>{{walletInfo.passphrase}}</li>
      <li class="list-group-item"><B>Your New Wallet Address :</B> {{walletInfo.firstAddress}}</li>
      <li class="list-group-item"><B>Your New Wallet Private Key :</B> {{walletInfo.WIFKey}}</li>
      <li class="list-group-item"><B>Your Account Balance :</B> {{walletInfo.balance}}</li>
      <li class="list-group-item"><B>Your Reward Points :</B> {{walletInfo.userpoints}}</li>
    </ul>
</div>

<form (submit)="ongetUserWalletInfoByUsername()">
    <input type="submit" class="btn btn-success" value="Get Wallet Details">
</form>
</div>
<br>
<!--<div class="jumbotron">

  <form (ngSubmit)="onTransMadeByUser()">
    <div class="form-group">
      <label>Wallet Address</label>
      <input type="text" class="form-control" [(ngModel)]="address" name="address">
      <label>Wallet password</label>
      <input type="password" class="form-control" [(ngModel)]="pass" name="pass">
      <label>Amount</label>
      <input type="text" class="form-control" [(ngModel)]="amount" name="amount">
    </div>
    <input type="submit" class="btn btn-success" value="Send">
  </form>

</div> -->

<!--<div class="jumbotron">
  <form (ngSubmit)="onUserAccountUnlock()">
    <div class="form-group">
      <label>Wallet password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn btn-success" value="Unlock Account">
  </form>
</div> -->

<br>
<div class="jumbotron">
<div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Hash</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Block</th>
                        <th>Amount (in Eth)</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transInfo of userTrans">
                        <td>{{transInfo.txid}}</td>
                        <td>{{transInfo.from}}</td>
                        <td>{{transInfo.address}}</td>
                        <td>{{transInfo.blockNumber}}</td>
                        <td>{{transInfo.amount}}</td>
                        <td>{{transInfo.createAt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


<form (submit)="ongetUserTransactionByUsername()">
    <input type="submit" class="btn btn-success" value="Get Transaction Details">
</form>
</div>


<!--
<div>
  <h1>Conference DApp</h1>
  <hr/>
  <div class="section">
    <h2>Create a Wallet</h2>
  <!--  Password: <input type="text" id="password" /><hr/>
      <button class="btn btn-warning" ng-click="createWallet()">Create Wallet</button>
      <button class="btn btn-warning" ng-click="fundWallet()">Fund Wallet with 1 ETH</button>

      <br/><br/>
      Your Wallet Secret Seed: <span id="seed"></span>
      <br/><br/>
      Your New Wallet Address: <span id="wallet"></span>
      <br/><br/>
      Your New Wallet Private Key: <span id="privateKey"></span>
      <br/><br/>
      Wallet Balance: <span id="balance"></span>
      <br/><br/>
      <button class="btn btn-warning" ng-click="checkBalance()">Check Balance</button>
  </div>

  <div class="section">
    <h2>Buy a Ticket </h2>
    Ticket Price: <input type="text" id="ticketPrice" value="0.05" />
      Buyer Address: <input type="text" id="buyerAddress" /><hr/>
      <button class="btn btn-warning" ng-click="buyTicket()">Buy Ticket</button>
      <span id="buyTicketResult"></span>
  </div>

  <hr/>

  <div class="section">
    <h2>Refund a Ticket</h2>
    Ticket Price: <input type="text" id="ticketPrice" value="0.05" />
      Buyer Address: <input type="text" id="refBuyerAddress" /><hr/>
      <button class="btn btn-warning" ng-click="refundTicket()">Refund Ticket</button>
      <span id="refundTicketResult"></span>
  </div>

  <hr/>
</div>-->
